<h1 ng-if="$ctrl.puzzles.length == 0">Loading...</h1>
<div class="row">
    <div class="tool-container col-md-2 col-sm-3 col-xs-6">
        <div class="container-fluid">
            <div ng-repeat="puzzle in $ctrl.puzzles| orderBy : winRate : true">
                <img ng-src="{{puzzle.url}}">
                <h3>{{puzzle.name}}</h3>
                <h3>Wins: {{puzzle.wins}}</h3>
                <h3>Losses: {{puzzle.losses}}</h3>
                <h3>Win rate: {{winRate(puzzle) | number: 2}}%</h3>
            </div>
        </div>
    </div>
</div>