<h1 ng-if="$ctrl.puzzles.length == 0">Loading...</h1>
<div class="row">
    <div class="col-md-2 col-sm-3 col-xs-6" ng-repeat="puzzle in $ctrl.puzzles| orderBy : [$ctrl.winRate, 'wins'] : true">
        <div class="container-fluid">
            <div>
                <img ng-src="{{puzzle.url}}">
                <h4>{{puzzle.name}}</h4>
                <h4>Wins: {{puzzle.wins}}</h4>
                <h4>Losses: {{puzzle.losses}}</h4>
                <h4>Win rate: {{$ctrl.winRate(puzzle) | number: 2}}%</h4>
            </div>
        </div>
    </div>
</div>