<h1 ng-if="$ctrl.puzzles.length == 0">Loading...</h1>
<div class="panel"
     ng-repeat="puzzle in $ctrl.puzzles| orderBy : [$ctrl.orderWinRate, 'wins', '-losses'] : true"
     style="margin: 1%">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div>
                <h2>{{puzzle.name}}</h2>
            </div>
        </div>
        <div class="panel-body" style="padding: 1%">
            <div class="row">
                <div class="col-sm-2">
                    <img ng-src="{{puzzle.image_url}}"
                         class="img-responsive img-rounded"
                         width="100%"
                         style="padding: 2%">
                </div>
                <div class="col-sm-10">
                    <div class="row">


                        <div class="col-sm-9 col-sm-push-3">
                            <div class="row">
                                <div class="col-sm-12 col-xs-6">
                                    <span class="label label-success"
                                          style="alignment: right">Total Wins: {{puzzle.wins}}</span>
                                </div>
                                <div class="col-sm-12 col-xs-6">
                                    <span class="label label-danger"
                                          style="alignment: right">Total Losses: {{puzzle.losses}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3 col-sm-pull-9">
                            <div>
                                <h2>Win Rate: {{$ctrl.orderWinRate(puzzle)||0 | number: 2}}%</h2>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="progress" style="height: 1vw; margin-top: 0.5vw">
                        <div class="progress-bar progress-bar-success"
                             style="width: {{$ctrl.winRate(puzzle)}}%"></div>
                        <div class="progress-bar progress-bar-danger"
                             style="width: {{100-$ctrl.winRate(puzzle)}}%"></div>
                    </div>
                </div>
            </div>
            <!--<div class="row">-->
            <!--<div class="col-xs-12">-->
            <!--<div class="progress" style="height: 1vw">-->
            <!--<div class="progress-bar progress-bar-success"-->
            <!--style="width: {{$ctrl.winRate(puzzle)}}%"></div>-->
            <!--<div class="progress-bar progress-bar-danger"-->
            <!--style="width: {{100-$ctrl.winRate(puzzle)}}%"></div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>