/*p, a, h1, h2, h3 {*/
    /*font-family: "Verdana", sans-serif;*/
/*}*/

h1, h2, h3 {
    /*font-weight: bold;*/
}

h3 {
    /*white-space: nowrap;*/
    font-size: large;
}

/*.current-tab {*/
    /*background-color: #5555ff;*/
    /*color: #ffffff;*/
/*}*/

a, u {
    text-decoration: none !important;
}

.heading {
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0px;
    text-decoration: none !important;
    color: #333333!important;

}



.fade-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.fade-on-hover:hover, .fade-on-hover:focus, .fade-on-hover:active {
    background-color: #5262bc;
    /*color: rgba(255,255,255,.84);*/
    color: white;
}

.fade-on-hover-main {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.fade-on-hover-main:hover, .fade-on-hover-main:focus, .fade-on-hover-main:active {
    background-color: #e4e4e4;
    /*color: rgba(255,255,255,.84);*/
    color: white;
    text-decoration-color: white;
    cursor: pointer;
    cursor: hand;
}

#versus {
    font-size: 9vw;
    text-align: center;
}